body {
display: flex;
justify-content: center; /*выравнивание по центру, горизонталь*/
align-items: center; /*выравнивание по центру, вертикаль*/
min-height: 100vh;
margin: 0;
padding: 0;


.btn {
font-size: 20px;
font-family: monospace;
color: #062687;
cursor: pointer;
background-color: white;
text-decoration: none;
padding: 20px  70px;
border: 2px solid #1409e6;
border-radius: 10px ; /* Радиус углов */
background-size: 200%;
transition:  0.5s;  


}

.btn:hover {
    background-color:#53ea93; /* Цвет блока при наведении */
}




}
